# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Data & Models
data/
vosk-model*/
models/vosk-model*/
rubert-base-cased-russian-sentiment/
# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

